*.suo
*.user
.vs/
~*.xlsx
[Bb]in/
[Oo]bj/
[Oo]bj.NCD/
[Dd]ebug/
_UpgradeReport_Files/
[Pp]ackages/
[Mm]igrations/


Thumbs.db
Desktop.ini
.DS_Store

Messages/
/CtpSimpleTest/rb2210_market_data.csv
/CtpTdApiWrapper.Test/CtpFlow/DialogRsp.con
/CtpTdApiWrapper.Test/CtpFlow/Private.con
/CtpTdApiWrapper.Test/CtpFlow/Public.con
/CtpTdApiWrapper.Test/CtpFlow/QueryRsp.con
/CtpTdApiWrapper.Test/CtpFlow/TradingDay.con
